@font-face {
    font-family: "PT Sans";
    src: url(../fonts/ptsans-400.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url(../fonts/ptsans-700.woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Common */

html {
    height: 100%;
}

body {
    font-family: "PT Sans", sans-serif;
    color: #000000;
    font-size: 18px;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.visually-hidden {
    visibility: hidden;
}

.button {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #83B3D3;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

/* Header */

.header-nav {
    max-width: 1060px;
    max-height: 65px;
    margin: 0 auto;
    display: flex;
    
}

.header-nav-logo {
    margin-right: 47px;
    z-index: 10;
}

.site-menu {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    list-style: none;

    display: flex;
    min-width: 311px;
    justify-content: space-between;
    padding: 0;
}

.additional-menu {
    width: 253px;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.site-menu-link {
    text-decoration: none;
    color: inherit;
}

.icon-button {
    background-repeat: no-repeat;
}

.icon-button-search {
    background-image: url(../icons/index/variant=search.svg);
    background-size: 18px 18px;
    text-decoration: none;
    width: 18px;
    height: 18px;
    margin-right: 23.5px;
}

.icon-button-heart {
    background-image: url(../icons/index/variant=heart.svg);
    background-size: 18px 17px;
    text-decoration: none;
    position: relative;
    width: 18px;
    height: 17px;
}

.icon-button-counter {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #7DB54F;
    color:#FFFFFF;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    left: 10px;
}

.button-secondary {
    background-color: #756257;
    line-height: 20px;
    font-size: 16px;
    padding: 9px 34.5px;
    border-radius: 4px;
    box-sizing: border-box;
}

.additional-menu .button-secondary {
    margin-left: auto;
}

/* Main */

.page-main {
    flex-grow: 1;
}

.advantages-section-title {
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 31px;
}

.advantages-section-description {
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.page-main-background {
    background: url(../img/index/divider.png) no-repeat center bottom, url(../img/index/welcome.svg) no-repeat center center, url(../img/index/main-background.jpg);
    width: 100%;
    background-size: auto, auto, cover;
    height: 485px;
    background-repeat: no-repeat;
    margin: auto auto;
}

.main-header {
    color:#FFFFFF;
    background: #83B3D3;
    background: url(../img/catalog/catalog-background.jpg) no-repeat;
    background-size: cover;
    box-sizing: border-box;
    min-height: 408px;

    padding: 35px 72px 0;
}

.main-heading {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin: 0 0 5px 0;
}

.breadcrumbs {
    font-size: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 110px;
    display: flex;
    height: 21px;
    align-items: center;
    margin-bottom: 45px;
}

.breadcrumbs-item {
    display: flex;
    align-items: center;
}
.breadcrumbs-link {
    text-decoration: none;
    color: #FFFFFF;
}

.breadcrumbs-item:first-child .breadcrumbs-link {
    background: url(../icons/catalog/variant=home.svg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 12px;
    height: 12px;
    display: block;
}

/* section */

.section-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.section-description {
    font-size: 22px;
    line-height: 36px;
    text-align: center;
}

/* advantages */

.advantages-text {
    line-height: 21px;
    max-width: 230px;
    margin: 0 auto;
}

.advantages-main-list {
    margin: 0;
    padding: 0;
}

.advantages-item {
    text-align: center;
    list-style: none;
    background: rgba(131, 179, 211, 0.12);
}

.advantages-wrapper {
    background-color: #83B3D3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.advantages-wrapper h3 {
    margin-bottom: 30px;
}

.advantages-item .advantages-text-number {
    margin-bottom: 30px;
}

.advantages-big-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    color:#FFFFFF;
}

.advantages-list-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
}

.advantages-title-icon-1::before {
    content: url(../icons/index/housing.svg);
    background-size: 75px 72px;
    width: 75px;
    height: 72px;
    display: block;
    margin-bottom: 23px;
}

.advantages-title-icon-2::before {
    content: url(../icons/index/eating.svg);
    background-size: 74px 70px;
    width: 74px;
    height: 70px;
    display: block;
    margin-bottom: 23px;
}

.advantages-title-icon-3::before {
    content: url(../icons/index/souvenir.svg);
    background-size: 64px 76px;
    height: 76px;
    display: block;
    margin-bottom: 23px;
    text-align: center;
}

.advantages-list-inner li {
    height: 384px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advantages-item .advantages-title-second {
    margin-bottom: 20px;
}

.advantages-list-inner .advantages-item:nth-child(2) {
    background-color: #FFFFFF;
}

.advantages-wrapper-last .advantages-item:nth-child(2) {
    background-color: #FFFFFF;
}

.advantages-big-wrapper-reverse {
    grid-template-columns: 2fr 1fr;
}

.advantages-wrapper-last {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.advantages-wrapper-last li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}

.advantages-wrapper-last h3 {
    margin-bottom: 29px;
}

.advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    max-width: 180px;
    margin: 0 auto;
}

.advantages-img {
    width: 100%;
}

/* search */

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 417px;

}

.search-button {
    background-color: #756257;
    font-size: 20px;
    line-height: 36px;
    border-radius: 10px;
    min-width: 575px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .section-title {
    margin: 0;
    margin-bottom: 29px;
}

.search-description {
    line-height: 26px;
    margin: 0;
    margin-bottom: 56px;
}

/* catalog */

.catalog {
    padding: 0 72px;
    margin-bottom: 73px;
}

.catalog-sort {
    display: flex;
    align-items: center;
    height: 48px;
    margin-bottom: 73px;
}

.catalog li {
    list-style: none;
}

.catalog-sort>.section-title {
    line-height: 39px;
    margin: 0;
    padding: 0;
    margin-right: auto;
}

/* view */

.view {
    display: flex;
    padding: 0;
}

.view-item {
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    width: 48px;
    height: 48px;
    box-sizing: border-box;
}

.view-item-active {
    border: 2px solid #000000;
}

/* select */

.select {
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    box-sizing: border-box;
}

.catalog-sort .select {
    margin-right: 81px;
}

.select-option {
    text-decoration: none;
    font-style: inherit;
    font-family: inherit;
    color: inherit;
}

/* card */

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 340px;
    height: 438px;
    padding: 20px;
    box-sizing: border-box;
}

.card-title {
    padding: 0;
    margin: 0;
}

.card-link {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: inherit;
    text-decoration: none;
}

.card-description {
    line-height: 23px;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.card-description-title {
    width: 133px;
}

.card-description-definition {
    width: 143px;
}

.card-buttons-wrapper {
    display: flex;
    justify-content: space-between;
}

.card .button {
    line-height: 21px;
}

.card .button-secondary {
    padding: 8px 23px;
}

.card-buttons-wrapper .button:last-child {
    padding: 8px 21px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-rate {
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    background: #F2F2F2;
    border-radius: 4px;
    margin: 0;
}

/* pagination */

.pagination-wrapper {
    height: 120px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 30px;
}

.pagination-button-wrapper {
    width: 620px;
}

.button-large {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    border: 0;
    font-family: inherit;
    border-radius: 4px;
    width: 100%;
    height: 60px;
}

.pagination-wrapper-list {
    display: flex;
}

.pagination-list {
    display: flex;
    gap: 8px;
    padding: 0;
    margin: 0;
}

.pagination-item {
    width: 55px;
    height:55px;
    background: #83B3D3;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-item-active {
    background: #F2F2F2;
}

.pagination-item-active a {
    color: #000000;
}
.pagination-item:last-child {
    margin-right: 0;
}

.pagination-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.pagination-select {
    line-height: 23px;
    display: flex;
    margin-left: auto;
}

.pagination-select-text {
    margin: 0 51px 0 0;
}

.pagination-select a {
    line-height: 23px;
}
/* range */

.range-title {
    opacity: 0.3;
    line-height: 23px;
}

.range-input {
    font-family: 'PT Sans';
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    background-color: transparent;
}

/* filter */

.filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.filter-item {
    line-height: 23px;
    list-style: none;
    margin-bottom: 13px;
    display: flex;
    align-items: center;
}

.filter-item:last-child {
    margin-bottom: 0;
}

.filter-item:first-child {
    margin-top: auto;
}

.filter-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-buttons button:first-child {
    border-radius: 4px;
    border: 0;
    box-sizing: border-box;
    padding: 0;
    height: 48px;
    margin-top: auto;
}

.filter-reset {
    color: #ffffff;
    background-color: transparent;
    font-family: inherit;
    font-size: 18px;
    border: 0;
    height: 23px;
    width: 160px;
    padding: 0;
}

.filter-form-wrapper {
    display: flex;
}

.filter-fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    height: 148px;
}

.filter-list {
    padding: 0;
    margin: 0;
}

.filter-fieldset legend {
    margin: 0 0 30px 0;
    padding: 0;
}

.filter-fieldset:first-child {
    width: 150px;
    margin-right: 67px;
}

.filter-fieldset:nth-child(2) {
    margin-right: auto;
}



.control-input {
    position: absolute;
    opacity: 0;
    z-index: -100;
}

.control-input+label {
    display: flex;
    align-items: center;
    user-select: none;
}

.control-input+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    background: #FFFFFF;
    border-radius: 4px;
    margin-right: 19px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.control-input:checked+label::before {
    background-image: url(../icons/catalog/tick\ 1.svg);
}

.control-input-radio {
    position: absolute;
    opacity: 0;
    z-index: -100;
}

.control-input-radio+label {
    display: flex;
    align-items: center;
    user-select: none;
}

.control-input-radio+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    background: #FFFFFF;
    border-radius: 50%;
    margin-right: 19px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.control-input-radio:checked+label::before {
    background-image: url(../icons/catalog/Ellipse.svg);
}
/* subscribe */

.subscribe h2 {
    margin: 0 0 29px 0;
}

.subscribe .section-description {
    margin: 0 auto 46px auto;
    max-width: 500px;
}

.subscribe {
    color:#FFFFFF;
    background-image:url(../img/index/background-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 411px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subscribe-primary {
    background: none;
    min-height: 381px;
    gap: 46px;
    justify-content: start;
    align-items: center;
}

.subscribe-primary .section-title-black {
    color: #000000;
    margin-bottom: 0;
}


.subscribe-primary .section-description-black {
    color: #333333;
    margin: 0;
}

.subscribe-button {
    font-size: 20px;
    line-height: 26px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    height: 60px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.subscribe-wrapper {
    width: 66.666666667%;
    margin: 0 auto;
}

.subscribe-form {
    display: flex;
}

.subscribe-button-wrapper {
    flex: 0 0 200px;
}

.subscribe .section-description {
    line-height: 26px;
}

.subscribe-field {
    flex: 1 1 auto;
}
/* forms */

.field-input {
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    border-radius: 10px 0px 0px 10px;
    border: none;
    padding: 0 0 0 22px;
    box-sizing: border-box;
    height: 60px;
    width: 100%;
}

.field-input-gray {
    background: #F2F2F2;
}

.field-input-email-catalog {
    background-color: #F2F2F2;
}

/* Footer */

.page-footer {
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 72px 0 72px;
}

.page-footer-phone {
    color: inherit;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
}