@font-face {
    font-family: "PT Sans";
    src: url(../fonts/ptsans-400.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url(../fonts/ptsans-700.woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Common */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    height: 100%;

    font-family: "PT Sans", sans-serif;
    font-size: 18px;

    color: #000000;
    background: #F2F2F2;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;

    background-color: #ffffff;
}

.button {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #83B3D3;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

/* Header */

.header-nav {
    box-sizing: border-box;
    padding: 0 72px;
    display: flex;
    justify-content: space-between;
}

.header-nav-logo {
    margin-right: 30px;
    z-index: 10;
    margin-bottom: -10px;
}

.site-menu {
    list-style: none;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 0;
    margin: 0;
}

.site-menu-link {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    
    padding: 17px;
    display: block;
}

.site-menu-link[href]:hover  {
    color: #756257;
}

.site-menu-link[href]:active  {
    color: rgba(117, 98, 87, 0.3);
}

.icon-button:hover path {
    fill: #756257;
}

.icon-button:active path {
    fill: rgba(117, 98, 87, 0.3);
}

.icon-button:active .icon-button-counter {
    opacity: 0.3;
}


.site-menu-item-active {
    text-decoration: underline;
    text-underline-offset: 25px;
    text-decoration-thickness: 2px;
    text-decoration-color: #756257;
    z-index: 5;
}
    
.additional-menu {
    min-width: 264px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.icon-button {
    background-repeat: no-repeat;
    padding: 21.1px 11px;
    display: block;
    position: relative;
}

.icon-button-counter {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #7DB54F;
    color:#FFFFFF;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 16px;
    left: 24px;
    z-index: 10;
}

.button-secondary {
    background-color: #756257;
    line-height: 20px;
    font-size: 16px;
    padding: 9px 34.5px;
    border-radius: 4px;
    box-sizing: border-box;
}

.button-secondary:hover,
.search-button:hover {
    background-color: #615048;
}

.button-secondary:active,
.search-button:active {
    background-color: #615048;
    color: rgba(255, 255, 255, 0.3);
}

.button-secondary:focus-visible,
.search-button:focus-visible {
    background-color: #615048;
    outline: 3px solid #83B3D3;
    outline-offset: 0;
}

.additional-menu .button-secondary {
    margin-left: auto;
}

/* Main */

.page-main {
    flex-grow: 1;
}

.page-main-background {
    background: url(../img/index/main-background.jpg) no-repeat center center;
    width: 100%;
    background-size: auto, auto, cover;
    height: 485px;
    margin: auto auto;
}

.main-header {
    color:#FFFFFF;
    background: #83B3D3;
    background: url(../img/catalog/catalog-background.jpg) no-repeat;
    background-size: cover;
    box-sizing: border-box;
    min-height: 408px;

    padding: 35px 72px 0;
}

.main-heading {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin: 0 0 5px 0;
}

/* breadcrumbs */

.breadcrumbs {
    font-size: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: 110px;
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

.breadcrumbs-item {
    display: flex;
    align-items: center;
}

.breadcrumbs-item:first-child::after {
    content: '';
    margin: 0 2px 0 3px;
    background: url(../icons/catalog/nav-link\ 2.svg);
    width: 5px;
    height: 8px;
}
    
.breadcrumbs-link {
    text-decoration: none;
    color: #FFFFFF;
}

.breadcrumbs-item:first-child .breadcrumbs-link {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg opacity='1' clip-path='url(%23clip0_31961_431)'%3e%3cpath d='M6 0.300003L0 5.8V12H12V5.8L6 0.300003ZM11 11H1V6.2L6 1.7L11 6.2V11Z' fill='white'/%3e%3cpath d='M4 10H5V7.5H7V10H8V6.5H4V10Z' fill='white'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_31961_431'%3e%3crect width='12' height='12' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
    
    background-position: center center;
    background-repeat: no-repeat;
    width: 28px;
    height: 27px;
    display: block;
    padding: 6px 8px 9px;
    box-sizing: border-box;
}

.breadcrumbs-item:last-child .breadcrumbs-link {
    padding: 3px 8px;
    width: 87px;
    height: 27px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}


.breadcrumbs-item:first-child:hover .breadcrumbs-link,
.breadcrumbs-item:last-child:hover .breadcrumbs-link {
    opacity: 0.6;
}

.breadcrumbs-item .breadcrumbs-link:focus-visible {
    border: 3px solid #83B3D3;
    border-radius: 4px;
    outline-offset: 0;
    outline: none;
}


.breadcrumbs-item:first-child:active .breadcrumbs-link,
.breadcrumbs-item:last-child:active .breadcrumbs-link {
    opacity: 0.6;
}

/* section */

.section-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.section-description {
    font-size: 22px;
    line-height: 36px;
    text-align: center;
}

/* advantages */

.advantages {
    padding-top: 63px;
}

.advantages-section-title {
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 31px;
}

.advantages-section-description {
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.advantages-text {
    line-height: 21px;
    max-width: 230px;
    margin: 0 auto;
}

.advantages-main-list {
    margin: 0;
    padding: 0;
}

.advantages-item {
    text-align: center;
    list-style: none;
    background: rgba(131, 179, 211, 0.12);
}

.advantages-wrapper {
    background-color: #83B3D3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.advantages-wrapper h3 {
    margin-bottom: 30px;
}

.advantages-item .advantages-text-number {
    margin-bottom: 30px;
}

.advantages-big-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    color:#FFFFFF;
}

.advantages-list-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
}

.advantages-title-icon-1::before {
    content: url(../icons/index/housing.svg);
    background-size: 75px 72px;
    width: 75px;
    height: 72px;
    display: block;
    margin-bottom: 23px;
}

.advantages-title-icon-2::before {
    content: url(../icons/index/eating.svg);
    background-size: 74px 70px;
    width: 74px;
    height: 70px;
    display: block;
    margin-bottom: 23px;
}

.advantages-title-icon-3::before {
    content: url(../icons/index/souvenir.svg);
    background-size: 64px 76px;
    height: 76px;
    display: block;
    margin-bottom: 23px;
    text-align: center;
}

.advantages-list-inner li {
    height: 384px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advantages-item .advantages-title-second {
    margin-bottom: 20px;
}

.advantages-list-inner .advantages-item:nth-child(2) {
    background-color: #FFFFFF;
}

.advantages-wrapper-last .advantages-item:nth-child(2) {
    background-color: #FFFFFF;
}

.advantages-big-wrapper-reverse {
    grid-template-columns: 2fr 1fr;
}

.advantages-wrapper-last {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.advantages-wrapper-last li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 384px;
}

.advantages-wrapper-last h3 {
    margin-bottom: 29px;
}

.advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    max-width: 180px;
    margin: 0 auto;
}

.advantages-img {
    width: 100%;
}

/* search */

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 417px;

}

.search-button {
    background-color: #756257;
    font-size: 20px;
    line-height: 36px;
    border-radius: 10px;
    min-width: 575px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.search .section-title {
    margin: 0;
    margin-bottom: 29px;
}

.search-description {
    line-height: 26px;
    margin: 0;
    margin-bottom: 56px;
}

/* catalog */

.catalog {
    padding: 44px 72px 0 72px;
    margin-bottom: 73px;
}

.catalog-sort {
    display: flex;
    align-items: flex-start;
    min-height: 48px;
    margin-bottom: 53px;
}

.catalog li {
    list-style: none;
}

.catalog-sort>.section-title {
    line-height: 39px;
    margin: 0;
    padding: 0;
    margin-right: auto;
}

/* view */

.view {
    display: flex;
    padding: 0;
    margin: 0;
}

.view-item {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 8px;
}

.view-item:not(.view-item-active) .view-link:hover {
    border: 2px solid #83B3D3;
}

.view-item:not(.view-item-active) .view-link:focus-visible  {
    border: 2px solid #83B3D3;
    outline: none;
}

.view-item:last-child {
    margin-right: 0;
}

.view-link {
    width: 16px;
    height: 14px;
    display: block;
    box-sizing: border-box;
    padding: 22px 22px;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
}

.view-item:first-child .view-link {
    background: url(../icons/catalog/Vector-2.svg) no-repeat center center;
}

.view-item:nth-child(2) .view-link {
    background: url(../icons/catalog/Vector-1.svg) no-repeat center center;
}

.view-item:last-child .view-link {
    background: url(../icons/catalog/Vector.svg) no-repeat center center;
}

.view-item-active .view-link {
    border: 2px solid #000000;
}

/* select */

.catalog-sort-wrapper {
    width: 50%;
    display: flex;
}

.select-wrapper {
    width: 287px;
    margin-right: auto;
    align-items: center;
    display: flex;
}

.select {
    position: relative;
    z-index: 3;
}

.select-catalog {
    width: 100%;
}

.select-menu {
    position: absolute;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;

    padding: 10px 0;
    margin: 0;

    background: #FFFFFF;
    box-sizing: border-box;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.select-button {
    display: grid;
    grid-template-columns: 1fr 50px;
    padding: 10px 18px;
    padding-right: 0;

    border: 2px solid #E6E6E6;
    border-radius: 4px;
    
    cursor: default;
    user-select: none;
}

.select-button::-webkit-details-marker {
    display: none;
}

.select-button::after {
    content: "";
  
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url("../icons/catalog/dropdown 1.svg");
}

.select-button:hover,
.select-button:focus-visible {
    border-color: #83B3D3;
    outline: none;
} 

.select-button:active {
    opacity: 0.3;
} 

.select[open] .select-button::after {
    transform: rotate(180deg);
}

.select-pagination {
    min-width: 160px;
}

.select-option {
    text-decoration: none;
    font-style: inherit;
    font-family: inherit;
    color: inherit;

    display: block;
    padding: 8px 20px;
}

.select-item-active {
    background-color: #e6e6e6;
  }

.select-option:hover {
    background-color:#F2F2F2;
}

.select-item-active .select-option:hover {
    background-color: transparent;
}
  
.select-option:active {
    color: rgba(51, 51, 51, 0.3);
    background-color: #f2f2f2;
}

/* card */

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 10px 18px;
    margin-bottom: 34px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 340px;
    height: 438px;
    padding: 20px;
    box-sizing: border-box;
}

.card-img {
    order: -1;
}

.card-link {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: inherit;
    text-decoration: none;
}

.card-link:hover + .card-img {
    opacity: 0.6;
}

.card-link:active + .card-img {
    opacity: 0.3;
}
  
.card-link:focus-visible + .card-img {
    outline: 3px solid #83b3d3;
}

.card-link:focus-visible {
    outline: none;
}

.card-title {
    padding: 0;
    margin: 0;
}


.card-description {
    line-height: 23px;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.card-description-title {
    width: 133px;
}

.card-description-definition {
    width: 143px;
}

.card-buttons-wrapper {
    display: flex;
    justify-content: space-between;
}

.card .button {
    line-height: 21px;
}

.card .button-secondary {
    padding: 8px 23px;
}

.card-chosen-button {
    padding: 8px 21px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-chosen-button:hover {
    background: #68A2CA;
    outline: 1px solid #756257;
}

.card-chosen-button:focus-visible {
    background: #68A2CA;
    outline: 3px solid #756257;
    outline-offset: 0;
}

.card-chosen-button:active {
    background: #68A2CA;
    outline: 1px solid #756257;
    color: rgba(255, 255, 255, 0.3);
}

.card-button-success {
    background: #7DB54F;
}

.card-button-success:hover {
    background: #6C9E42;
    outline: none;
}

.card-button-success:focus-visible {
    background: #6C9E42;
    outline: 3px solid #756257;
    outline-offset: 0;
}

.card-button-success:active {
    background: #6C9E42;
    color: rgba(255, 255, 255, 0.3);
}

.card-star-wrap {
    display: flex;
    align-items: center;
}

.card-rate {
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    background: #F2F2F2;
    border-radius: 4px;
    margin: 0 0 0 auto;
    padding: 9px 33px 10px 33px;
}

/* star */

.star {
    background-image: url(../icons/catalog/variant=star.svg);
    background-size: 23px 17px;
    background-repeat: repeat-x;
    background-position: 0 50%; 

    margin: 0;
    width: 23px;
    min-height: 37px;
}

.star-two {
    width: 46px;
}

.star-three {
    width: 69px;
}

.star-four {
    width: 92px;
}

.star-five {
    width: 115px;
}

/* pagination */

.pagination-wrapper {
    height: 120px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 30px;
}

.pagination-button-wrapper {
    width: 620px;
}

.button-large {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    border: 0;
    font-family: inherit;
    border-radius: 4px;
    width: 100%;
    height: 60px;
    cursor: pointer;
}

.button-large:hover {
    background: #68A2CA;
}

.button-large:focus-visible {
    background: #68A2CA;
    border: 3px solid #756257;
    outline: none;
}

.button-large:active {
    background: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
}

.pagination-wrapper-list {
    display: flex;
}

.pagination-list {
    display: flex;
    gap: 8px;
    padding: 0;
    margin: 0;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-link {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    background: #83B3D3;
    border-radius: 4px;
    box-sizing: border-box;
}

.pagination-link:hover:not(.pagination-item-active .pagination-link) {
    background-color: #68A2CA;
}

.pagination-link:focus-visible:not(.pagination-item-active .pagination-link) {
    background-color: #68A2CA;
    border: 3px solid #756257;
    outline: none;
}

.pagination-link:active:not(.pagination-item-active .pagination-link) {
    background-color: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
}

.pagination-item-active .pagination-link {
    background: #F2F2F2;
    color: #000000;
}

.pagination-select {
    line-height: 23px;
    display: flex;
    margin-left: auto;
    align-items: center;
    width: 36.5%;
}

.pagination-select-text {
    margin: 0 auto 0 0;
}

.pagination-select a {
    line-height: 23px;
}
/* range */

.range {
    min-width: 287px;
}

.range-wrapper {
    width: 100%;
}

.range-title {
    opacity: 0.3;
    line-height: 23px;
}

.range-input {
    font-family: 'PT Sans';
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    background-color: transparent;
}

/* slider */

.slider-thumb {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 20px;
    height: 20px;
}

.slider-thumb:focus,
.slider-thumb:active {
    border: 3px solid #83B3D3;
}


/* filter */

.filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.filter-item {
    line-height: 23px;
    list-style: none;
    margin-bottom: 13px;
    display: flex;
    align-items: center;
}

.filter-fieldset:first-child .filter-item:hover label::before {
    background-color: #FFFFFF99;
} 

.filter-fieldset:first-child .filter-item:focus-within:not(:active) label::before {
    background-color: #FFFFFF99;
    outline: 3px solid #83B3D3;
} 

.filter-fieldset:first-child .filter-item:active label::before {
    background-color: #FFFFFF4D;
}

.filter-item:last-child {
    margin-bottom: 0;
}

.filter-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-buttons button:first-child {
    border-radius: 4px;
    border: 0;
    box-sizing: border-box;
    padding: 0;
    height: 48px;
    margin-top: auto;
}

.filter-buttons button:first-child:hover {
    background: #68A2CA;
}

.filter-buttons button:first-child:focus-visible {
    background: #68A2CA;
    border: 3px solid #FFFFFF;
    border-radius: 4px;
    outline: none;
}

.filter-buttons button:first-child:active {
    color: rgba(255, 255, 255, 0.3);
}



.filter-reset {
    color: #ffffff;
    background-color: transparent;
    font-family: inherit;
    font-size: 18px;
    border: 0;
    height: 23px;
    width: 160px;
    padding: 0;
    cursor: pointer;
}

.filter-reset:hover {
    opacity: 0.6;
}

.filter-reset:focus-visible {
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}

.filter-reset:active {
    opacity: 0.3;
}

.filter-form-wrapper {
    display: flex;
}

.filter-fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    height: 148px;
}

.filter-list {
    padding: 0;
    margin: 0;
}

.filter-fieldset legend {
    margin: 0 0 30px 0;
    padding: 0;
}

.filter-fieldset:first-child {
    width: 150px;
    margin-right: 67px;
}

.filter-fieldset:nth-child(2) {
    margin-right: auto;
}



.control-input {
    position: absolute;
    opacity: 0;
    z-index: -100;
}

.control-input+label {
    display: flex;
    align-items: center;
    user-select: none;
}

.control-input+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    background: #FFFFFF;
    border-radius: 4px;
    margin-right: 19px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.control-input:checked+label::before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11 0L4.5 7.4L1.1 3.5L0 4.7L4.5 9.9L12.2 1.3L11 0Z' fill='%233F5E72'/%3e%3c/svg%3e ");
}

.control-input-radio {
    position: absolute;
    opacity: 0;
    z-index: -100;
}

.control-input-radio+label {
    display: flex;
    align-items: center;
    user-select: none;
}

.control-input-radio+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    background: #FFFFFF;
    border-radius: 50%;
    margin-right: 19px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.control-input-radio:checked+label::before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='5' cy='5' r='5' fill='%233F5E72'/%3e%3c/svg%3e ");
}

/* subscribe */

.subscribe h2 {
    margin: 0 0 29px 0;
}

.subscribe .section-description {
    margin: 0 auto 46px auto;
    max-width: 500px;
}

.subscribe {
    color:#FFFFFF;
    background-image:url(../img/index/background-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 411px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subscribe-primary {
    background: none;
    min-height: 381px;
    gap: 46px;
    justify-content: start;
    align-items: center;
}

.subscribe-primary .section-title-black {
    color: #000000;
    margin-bottom: 0;
}


.subscribe-primary .section-description-black {
    color: #333333;
    margin: 0;
}

.subscribe-button {
    font-size: 20px;
    line-height: 26px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    height: 60px;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.subscribe-button:hover {
    background-color: #68A2CA;
}

.subscribe-button:focus-visible {
    background-color: #68A2CA;
    border: 3px solid #756257;
    outline: none;
    border-radius: 0px 10px 10px 0px;
}

.subscribe-button:active {
    background-color: #68A2CA;
    outline: none;
    color: rgba(255, 255, 255, 0.3);
    border: none;
}

.subscribe-wrapper {
    width: 66.666666667%;
    margin: 0 auto;
}

.subscribe-form {
    display: flex;
}

.subscribe-button-wrapper {
    flex: 0 0 200px;
}

.subscribe .section-description {
    line-height: 26px;
}

.subscribe-field {
    flex: 1 1 auto;
}

/* forms */

.field-input {
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    border-radius: 10px 0px 0px 10px;
    border: none;
    padding: 0 0 0 22px;
    box-sizing: border-box;
    height: 60px;
    width: 100%;
}

.field-input:hover {
    background: #E6E6E6;
}

.field-input:focus {
    border: 3px solid #83B3D3;
    border-radius: 10px 0px 0px 10px;
    background: #E6E6E6;
    outline: none;
}

.field-input:invalid {
    background: #FFFFFF;
    outline: 2px solid #FF5757;
    border-radius: 10px 0 0 10px;
}


.field-input-gray {
    background: #F2F2F2;
}

.field-input-email-catalog {
    background-color: #F2F2F2;
}

/* Footer */

.page-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 49.5px 24px 61px;
}

.page-footer-phone {
    color: inherit;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
}

.page-footer-developer {
    display: flex;
    padding: 18.5px 22.55px;
}

.page-footer-phone:hover {
    color: #756257;
}

.page-footer-phone:focus-visible {
    color: #756257;
    outline: 3px solid #83B3D3;
    border-radius: 5px;
}

.page-footer-phone:active {
    color: rgba(117, 98, 87, 0.3);
}

.page-footer-developer:hover path {
    fill: #756257;
}

.page-footer-developer:focus-visible  {
    outline: 3px solid #83B3D3;
    border-radius: 5px;
}

.page-footer-developer:focus-visible path {
    fill: #756257;
}

.page-footer-developer:active path {
    fill: rgba(117, 98, 87, 0.3);
}


/* social */

.social {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    align-items: center;
}

.social-item {
    list-style: none;
}

.social-item:not(:last-child) {
    margin-right: 3px;
}

.social-link {
    box-sizing: border-box;
}

.social-item:nth-child(1) .social-link {
    padding: 12.5px 11px;
}

.social-item:nth-child(2) .social-link {
    padding: 11px 15px;
}

.social-item:nth-child(3) .social-link {
    padding: 12px 10px;
}

.social-link:hover path {
    fill: #68A2CA;
}

.social-link:focus-visible  {
    outline: 3px solid #83B3D3;
    border-radius: 10px;
}

.social-link:active path {
    fill: rgba(104, 162, 202, 0.3);
}

